
h2, h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  letter-spacing: -.5px;
}

div, p, span {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#new-posts-div {
  display: flex;
  flex-direction: column-reverse;
}

#new-posts-div button {
  border: 0;
  outline: 0;
  background-color: transparent;
  color: grey;
  transition: .1s ease-in;
}

#new-posts-div button:hover {
  color: black;
}

#dummy-posts-div button {
  border: 0;
  outline: 0;
  background-color: transparent;
  color: grey;
  transition: .1s ease-in;
}

#dummy-posts-div button:hover {
  color: black;
}

textarea {
  resize: none;
  width: 400px;
}

.tag-div {
  display: flex;
  gap: 5px;
}

.tag-span {
  background-color: lightgray;
  padding: 5px;
}

.active {
  color: green;
}