/* https://www.redditinc.com/assets/press-resources/reddit_brand_guidelines_202009-3.pdf */

:root {
  --bgcolor: rgb(27, 36, 38); /* Reddit Orca */
  --white: whitesmoke;
  --darkgrey: rgb(122, 146, 153); /* Reddit Narwhal */
  --mediumgrey: rgb(184, 199, 204); /* Reddit Seal */
  --lightgrey: rgb(215, 223, 226); /* Reddit Dolphin */
  --seagreen: rgb(0, 137, 133); /* Reddit Ocean */
  --mint: rgb(20, 216, 195); /* Reffit Mint */
  --green: rgb(70, 209, 96); /* Reddit Moderator */
  --fire: rgb(255, 135, 23); /* Reddit Lit */

}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bgcolor);
  color: var(--white);
}

#container {
  display: flex;
  gap: 20px;
  width: 80vw;
  padding-top: 10px;
  padding-left: 20px;
}

nav {
  height: 100%;
  min-width: max-content;
  z-index: 1000;
  display: grid;
  grid-template-rows: 80px auto;
  position: sticky;
  top: 10px;
  left: 0;
  overflow: hidden;
}

nav p {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--mediumgrey);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}

table {
  border-spacing: 0;
  border-style: hidden;
}

tr {
  border-radius: 15px;
  transition: .1s ease-in;
}

tr:hover {
  background-color: rgb(36, 45, 47);
}

tr td:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

tr td:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

table tr td{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
}

tr i:first-of-type {
  padding-left: 15px;
}

td {
  padding: 10px 0;
}

main {
  display: grid;
  grid-template-rows: 80px auto;;
}

h1, h2, h3, h4 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  letter-spacing: -.5px;
  margin: 0;
}

textarea, input[type="text"] {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  border: 1px double transparent;;
  outline: 1px solid transparent;
  padding: 10px 15px;  
}

textarea::placeholder {
  color: var(--darkgrey);
  font-size: 14px;
}

input[type="text"]::placeholder {
  color: var(--darkgrey);
  font-size: 14px;
}

input[type="text"] {
  border-radius: 10px;
  margin-bottom: 10px;
}

textarea {
  border-radius: 10px;
}

input [type="text"]:focus {
  border: 1px double var(--mint);
  outline: 1px solid transparent;
  box-shadow: 0 0 10px #719ECE;
}

textarea:focus {
  border: 1px double var(--mint);
  outline: 1px solid transparent;
  box-shadow: 0 0 10px #719ECE;
}

#title-char-count, #body-char-count {
  color: var(--darkgrey);
}

div, p, span {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
}

input[type="checkbox"] {
  accent-color: var(--mint);
  border: none;
  outline: none;
  color: transparent;
}

input[type="checkbox"]:active {
  border: none;
  outline: none;
}

input[type="checkbox"]:checked {
  box-shadow: 0 0 10px #719ECE;
}

#submit-new-post {
  background-color: var(--lightgrey);
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  border: 1px double transparent;;
  outline: 1px solid transparent;
  padding: 5px 15px;
  border-radius: 10px;
}

#posts-div {
  display: flex;
  flex-direction: column-reverse;
}

article {
  border-bottom: 1px solid var(--darkgrey);
  padding-bottom: 8px;
  margin-bottom: 8px;
  font-size: 14px;
}

article:first-of-type {
  border-bottom: none;
}

#posts-div button {
  border: 0;
  outline: 0;
  background-color: transparent;
  color: var(--mediumgrey);
  transition: .1s ease-in;
  width: 30px;
  text-align: left;
}

#posts-div button:hover {
  color: var(--white);
  cursor: pointer;
}

textarea {
  resize: none;
  width: 400px;
}

#new-tags-div label {
  font-size: 12px;
  position: relative;
  bottom: 3px;
  left: 3px;
  margin-right: 7px;
}

.tag-div {
  display: flex;
  gap: 5px;
}

.tag-span {
  background-color: var(--mint);
  color: black;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 15px;
}

.active {
  color: var(--green);
  cursor: none;
}
